/* Page */

div[data-automation-id="pageHeader"] {
    display: none;
}

div[data-automation-id="CanvasLayout"] div.CanvasZone {
    background-image: url("../assets/MainBackground.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}


/* Main */

.EONewFormContainer {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    background-color: white;
    min-height: 400px;
    width: 95%;
    background-color: transparent;
}

.MainPanel {
    display: flex;
    position: relative;
    width: 100%;
    gap: 2%;
}

.BiNav {
    display: block;
    position: relative;
    float: right;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 1%;
    background-color: white;
    width: 15%;
}

ul.BiNavList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    
}

.BiNavItemImg {
    display: flex;
    justify-content: center;
}

li.BiNavItem {
    display: block;
    position: relative;
    float: right;
    margin: 5%;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .BiNavItem:hover {
    animation: bounce 0.8s ease;
  }
  

.BiNavItemImg img {
    width: 100px;  
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
}

.BiNavItem .BiNavItemText {
    display: block;
    position: relative;
    width: 100%;
    float: right;
    text-align: center;
    padding: 1%;
    font-size: 20px;
    font-weight: 600;
    background: #020312;
    background: -webkit-linear-gradient(to left, #41a78e 0%, #41a78e 100%);
    background: -moz-linear-gradient(to left, #41a78e 0%, #41a78e 100%);
    background: linear-gradient(to left, #41a78e 0%, #41a78e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: break-spaces;
    overflow-wrap: break-word;
    overflow: hidden;
}

.BiReport {
    display: block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 1%;
    background-color: white;
    min-height: 400px;
    width: 80%;
}

/* This targets the scrollbar within elements of class 'Scroolbar-style-2' */
.BiNav::-webkit-scrollbar {
    width: 0.4em;
  }
  
  .BiNav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .BiNav::-webkit-scrollbar-thumb {
    background-color: #41a78e !important;
  }
  
  .BiNav::-webkit-scrollbar-thumb:hover {
    background: #41a78e !important;
  }
  

/* Spinner */

.SpinnerComp {
    width: 100%;
    position: relative;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* *** Loader dimension *** */

.loading-screen {
    position: relative;
    height: 230px;
    display: block;
    width: 100%;
}


/* *** Center loader *** */

.loading-screen .loader-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-screen .loader-wrap .loading-text {
    margin-top: 30px;
    color: #41a78e;
}

.loader-animation {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background: #41a78e;
    display: block;
    margin: 4em auto;
    position: relative;
    animation: spin 2s ease infinite;
}

.loader-animation:before,
.loader-animation:after {
    content: '';
    display: block;
    position: absolute;
    height: inherit;
    width: inherit;
    background: inherit;
    border-radius: inherit;
    animation: spin 2s ease infinite;
}

.loader-animation:before {
    left: -3em;
}

.loader-animation:after {
    left: 3em;
}


/* *** Spin Animation *** */

@keyframes spin {
    0% {
        top: 0;
        transform: rotate(0deg);
    }
    50% {
        top: -4em;
        transform: rotate(-180deg);
    }
    100% {
        top: 0;
        transform: rotate(-360deg);
    }
}

.letter {
    position: relative;
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    text-shadow: 0px 0px 3px white;
    font-size: 35px;
}

.letter:nth-child(1) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 200ms;
    animation: LoaderSpinnerfade 2s infinite 200ms;
}

.letter:nth-child(2) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 400ms;
    animation: LoaderSpinnerfade 2s infinite 400ms;
}

.letter:nth-child(3) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 600ms;
    animation: LoaderSpinnerfade 2s infinite 600ms;
}

.letter:nth-child(4) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 800ms;
    animation: LoaderSpinnerfade 2s infinite 800ms;
}

.letter:nth-child(5) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 1000ms;
    animation: LoaderSpinnerfade 2s infinite 1000ms;
}

.letter:nth-child(6) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 1200ms;
    animation: LoaderSpinnerfade 2s infinite 1200ms;
}

.letter:nth-child(7) {
    -webkit-animation: LoaderSpinnerfade 2s infinite 1400ms;
    animation: LoaderSpinnerfade 2s infinite 1400ms;
}


/* *** Letter Fade Animation *** */

@-webkit-keyframes LoaderSpinnerfade {
    50% {
        opacity: 0.02;
    }
}

@keyframes LoaderSpinnerfade {
    50% {
        opacity: 0.02;
    }
}


/* Scrollbar */

.Scroolbar-style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.3vw rgba(0, 0, 0, 0.3);
    border-radius: 0.5vw;
    background-color: #F5F5F5;
}

.Scroolbar-style-2::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #F5F5F5;
}

.Scroolbar-style-2::-webkit-scrollbar-thumb {
    border-radius: 0.5vw;
    -webkit-box-shadow: inset 0 0 0.3vw rgba(0, 0, 0, .3);
    background-color: #f58c2b;
}

.Scroolbar-style-2::-webkit-scrollbar-thumb:hover {
    background-color: #bb6b1f;
}

/* @media only screen and (min-width: 1400px) {
    .BiNav {
        width: 11%;
        margin-left: 2%;
        min-height: 400px;
    }
    li.BiNavItem {
        width: 100%;
        margin-bottom: 10%;
    }
    .BiNavItem .BiNavItemImg img {
        width: 100%;
        float: right;
    }
    .BiReport {
        display: block;
        position: fixed;
        left: 3%;
        right: 18%;
    }
} */

/* @media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .BiNav {
        width: 11%;
        margin-left: 2%;
        min-height: 400px;
    }
    li.BiNavItem {
        width: 100%;
        margin-bottom: 10%;
    }
    .BiNavItem .BiNavItemImg img {
        width: 100%;
        float: right;
    }
    .BiReport {
        display: block;
        position: fixed;
        left: 3%;
        right: 20%;
    }
} */

/* @media only screen and (max-width: 1023px) {
    .BiNav {
        width: 100%;
        margin-bottom: 2%;
        max-height: 200px;
        overflow: auto;
    }
    .BiNavItem .BiNavItemImg img {
        width: 75px;
        margin-right: auto;
        margin-left: auto;
    }
    li.BiNavItem {
        width: 33.33%;
        margin-bottom: 0px;
        height: 200px;
    }
    .BiReport {
        width: 100%;
        position: relative;
        float: right;
    }
} */